.sport {
	
	padding: .5em;
	margin: .5em;
	background-color:#333333;
	display: inline-block;
	border-radius: 10px;

}

#add-sport {
	margin-left: 10em;
	background-color: #191919;
	color:white;
}
img {
	max-width: 25em;
	min-width: 25em;
	max-height: 15em;
	min-height: 15em;

}
p {
	text-align: center;
	
	color: white;
}
body {
	width: 100%;
	background-color: #CCCCCC;
	margin-bottom: 10em;
}
#foot {
	color: #B3B3B3;
	padding-top: 5px;
	padding-bottom: 5px;
}
